<html>

<head>

  <title>Dashboard</title>
  {{!-- <link  href="./css/login.css"  type="text/css"  rel="stylesheet"/> --}}
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
    id="bootstrap-css">

</head>

<body style=" background-image: url('back.jpg');background-repeat: no-repeat;
  background-size: cover;">

  <div>
    <form action="/opengrpchat" method="post">
        <input name="from" style="visibility: hidden" value="{{currentuser}}" />



      <div class="container"
        style="background :rgba(239, 243, 239, 0.5); border-radius: 20px; background-opacity: 0.5; ">
        <label for="all" style="font-family: serif">
          <h2 style="color: black">New Group</h2>
        </label>
       
            <br>
        <br>
            <div style="background-image:url('back.jpg'); width:50%;margin: auto; border-radius: 20px; background-opacity: 0;">
               <center>
                   <label for="previous" align="center"><b>
              <h3>Set Group Name</h3>
            </b></label>
            <br>

  <input type="text" class="form-control" name="groupname" style="width:250;" required>
                   <br>
                   <label for="previous" align="center"><b>
              <h3>Add Participants</h3>
            </b></label></center>
              
              <br>
              


             
              {{#each allusers}}

              
 


          <center>
          
          <label style="width:150;background :rgba(21, 77, 207, 0.502); border-radius: 20px; color:white; font-family:serif; font-size:20;"
          class="point" align="center">{{user}}</label>
          
         </center><br>




        {{/each}}
        
        <br>
        <br>



            </div>
        
        <br>
        <br>
        <center><button type="submit" id="sub" class="btn-success" style="height: 30;width:250">Submit</button></center>

        <input name="members" style="visibility: hidden" id="temp" />



      </div>
    </form>




  </div>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

  <script>
      var memberarray = [];
    $(".point").click(function (e) {
      $(this).css("background-color", "black");

      var to = e.target.innerHTML
      var exist = memberarray.indexOf(to)>=0
      console.log(exist);
      if(!exist)
      {
          memberarray.push(to);


      }

      

      
      console.log(memberarray)



    });
    $("#sub").click(function(){
        var memstr = '';

         for(i=0;i!=memberarray.length;i++){

          memstr =  memstr + memberarray[i]+':';

          $("#temp").val(memstr)
          




         }

         
         
     


    });

    $(".point").hover(function () {
      $(this).css("background-color", "blue");
    }, function () {
      $(this).css("background", "#154cce80");
    });


    $(".point").click(function () {
      $("#sub").css("background-color", "blueviolet");


    });




  </script>


</body>

</html>