<html>

<head>

  <title>Dashboard</title>
  {{!-- <link  href="./css/login.css"  type="text/css"  rel="stylesheet"/> --}}
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
    id="bootstrap-css">

</head>

<body style=" background-image: url('back.jpg');">

  <div>
    <form action="/openchat" method="post">


      <div class="container"
        style="background :rgba(239, 243, 239, 0.5); border-radius: 20px; background-opacity: 0.5;  ">
        <label for="all" style="font-family: serif">
          <h2>Click on any chat and Submit</h2>
        </label>
        <center><label for="previous" align="center"><b>
              <h3>Previously Contacted</h3>
            </b></label></center>
        {{#each prevusers}}


        <h3 style="background :rgba(21, 76, 206, 0.5); border-radius: 20px; color:white; font-family:serif;"
          class="point" align="center">{{user}}</h3>



        {{/each}}
        <br>
        <br>
        <center><label for="all"><b>
              <h3>All Users</h3>
            </b></label></center>

        {{#each allusers}}


        <h3 style="background :rgba(21, 77, 207, 0.502); border-radius: 20px; color:white; font-family:serif;"
          class="point" align="center">{{user}}</h3>



        {{/each}}

        <br>

        <br>
        <br>

      </div>
      <br>
      <br>
      <center><button type="submit" id="sub" class="btn-success" style="height: 30;width:250">Submit</button></center>

      <input name="to" style="visibility: hidden" id="temp" />
      <input name="from" style="visibility: hidden" value="{{currentuser}}" />
      <center><button class="btn-success" style="height: 30;width:250">Create a Group</button></center>




    </form>



  </div>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

  <script>
    $(".point").click(function (e) {
      $(this).css("background-color", "black");

      var to = e.target.innerHTML
      $("#temp").val(to)
      console.log($("#temp").val())



    });

    $(".point").hover(function () {
      $(this).css("background-color", "blue");
    }, function () {
      $(this).css("background", "#154cce80");
    });


    $(".point").click(function () {
      $("#sub").css("background-color", "blueviolet");


    });




  </script>


</body>

</html>