<html>

<head>

  <title>Dashboard</title>
  {{!-- <link  href="./css/login.css"  type="text/css"  rel="stylesheet"/> --}}
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
    id="bootstrap-css">

</head>

<body style=" background-image: url('back.jpg');background-repeat: no-repeat;
  background-size: cover;">

  <div>
    

      
    <br>
        <br>
        <div
          style="background-image:url('back.jpg'); width:50%;margin: auto; border-radius: 20px; background-opacity: 0;">
          <center><label for="all"><b>
                <h3>Group Chats</h3>
              </b></label></center>
          <br>
          <br>

          {{#each groups}}


          <h3 style="background :rgba(21, 77, 207, 0.502); border-radius: 20px; color:white; font-family:serif;"
            class="point" align="center" id = "{{groupid}}">{{groupname}}</h3>




          {{/each}}

          <br>

          <br>
          
        </div>

<form action="/opengroup" method="post">
  <input name="groupid" style="visibility: hidden" id="temp" />
  <input style="visibility: hidden" name="usr" value="{{currentuser}}" />

      {{!-- <button name = "private-chat"><a href="/privateroute">Private Chat</a></button> --}}
       <button name = "group-chat" type="submit">Submit</button>




    </form>




       <form action="/creategrp" method="post">
        

      <input style="visibility: hidden" name="usr" value="{{currentuser}}" />
      <center><button type="submit" class="btn-success" style="height: 30;width:250">Create a New Group</button></center>


    </form>




  </div>
  

 
           




  
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script>

    $(".point").click(function (e) {
      $(this).css("background-color", "black");

      var groupid = e.target.id
      $("#temp").val(groupid)




    });

    $(".point").hover(function () {
      $(this).css("background-color", "blue");
    }, function () {
      $(this).css("background", "#154cce80");
    });


    $(".point").click(function () {
      $("#sub").css("background-color", "blueviolet");


    });





  </script>

  


</body>

</html>